 /*@keyframes bodyFade{
     0%     {opacity: 0;
            background-color: #ccc;}
     100%   {opacity: 1;}
 }*/
 body{
            font-family: Segoe UI;
            background-color: #ccc;
            /*animation-name: bodyFade;
            animation-duration: 1s;*/
        }
        #start{
            position: relative;
            vertical-align: middle;
            margin-right: -50%;
        }
        #interface{
            position: absolute;
            width: 300px;
            height: 400px;
        }
        #graph{
            position: relative;
            left: 45px;
            width: 200px;
            left: 30%;
        }
        #graphWindow{
            margin-bottom: 5px;
            position: relative;
            width: 300px;
        }
        #interfaceName{
            text-align: center;
        }
        #interfaceYear{
            text-align: center;
            position: relative;
            top: -20px;
        }
        #interfaceTotalPop{
            text-align: center;
            position: relative;
            top: -40px;
        }
        #BirthRateRange{
            top: -50px;
            position: relative;
        }
        .YearButton{
            margin-left: 29px;
        }
        